body{
    background-color: rgb(50,50,100);
}

#header{
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: transparent;
    margin: 0px;
    border-width: 0px;
}

#favicon{
    width: auto;
    filter: invert(1);
}

#linkedInButton{
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: invert(1);
}

#alert{
    display: none;

    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

    justify-content: center;
    justify-items: center;
    align-content: space-around;
    flex-wrap: wrap;

    font-family: "Raleway", sans-serif;
    font-weight: 100;
    text-align: center;
    color: white;
    
    border-width: 0px;
    background-color: rgb(50,50,100);
    position: absolute;
    z-index: 3;
}

.menuButton{
    font-family: "Raleway", sans-serif;
    font-weight: 100;

    background-color: transparent;
    border-color: rgb(255,255,255);
    border-style: solid;
    color: rgb(255,255,255);
}

.menuButton:hover {
    background-color: rgba(255,255,255,0.1);
}

#outerBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    justify-items: center;
    align-content: center;

    margin: auto;
    padding: 0px;

    box-sizing: border-box;
    
    border-width: 0px;

    z-index: 0;
}

.innerBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    justify-items: center;
    align-content: center;

    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-color: black;

    z-index: 2;
}

.cell{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    align-items: center;
    text-align: center;

    background-color: white;
    border: 0.5px solid gray;

    z-index: 1;
}

.numInput{
    margin: 0px;
    padding: 0px;

    align-items: center;
    text-align: center;

    font-family: "Raleway", sans-serif;
    font-weight: 100;
    outline: none;

    background-color: rgba(0,0,0,0);
    border-width: 0px;
    transform: translate(-1px,-1px);
}

#sudokuFunctionButtonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudokuFunctionButtons{
    position: sticky;

    align-content: center;

    font-family: "Raleway", sans-serif;
    font-weight: 100;

    background-color: transparent;
    border-color: rgb(255,255,255);
    border-style: solid;
    color: rgb(255,255,255);
}

.sudokuFunctionButtons:hover {
    background-color: rgba(255,255,255,0.1);
}